.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0; /* Add some padding at the top and bottom */
}

.home-row {
    flex-grow: 1;
}

.home-row-bio {
    flex-grow: 1;
}

.text-section {
    padding: 2rem 0;
    font-size: 2rem;
    color: #333; /* Dark gray for text */
}

.text-section-bio {
    padding-top: 4rem;
    font-size: 1.1rem;
    color: #333; /* Dark gray for text */
    font-family: "Segoe UI";
}

.text-section-bio span {
    font-size: 3rem;
    font-family: 'Dancing Script';
}

.text-section-bio a {
    text-decoration: none;
}

.name-tag{
    font-weight: bold;
    font-size: 4rem;
}

.sub-name-tag{
    font-weight: bold;
    color: rgb(0, 102, 255);
}

.text-section p {
    line-height: 1.6;
}

.text-section a {
    color: #007bff; /* Link color */
}

.text-section a:hover {
    color: #0056b3; /* Link hover color */
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Centering the image */
}

.Hero-Image{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, -0px);
    }
}

@media only screen and (max-width: 768px) {

    .image-section {
        display: none; /* Hide image on smaller screens */
    }
    
    .text-section {
        text-align: center; /* Center text on smaller screens */
    }
}

.substack-iframe {
    clip-path: inset(0 0 20% 0); /* Hides 10% from the bottom of the iframe */
}

.grayscale {
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

.grayscale:hover {
    filter: grayscale(0%);
}

.showcase h1 {
    transition: color 3s ease;
    color: white /* Hide the h1 element by default */
}

.showcase:hover h1 {
    color: #3572EF; /* Show the h1 element on hover */
}

.skills-box1{
    animation-name: floating;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.skills-box2{
    animation-name: floating;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.skills-box3{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.skills-box4{
    animation-name: floating;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}